name: Authorization
on:
  push:
    branches:
    - main
    paths:
    - authorization/src/**
    - authorization/pom.xml
    - .github/workflows/*
  pull_request:
    branches:
    - main
    paths:
    - authorization/src/**
    - authorization/pom.xml
    - .github/workflows/*
jobs:
  unit-test:
    uses: making/oauth2-sso-demo/.github/workflows/unit-test.yaml@main
    with:
      pom_dir: authorization
  build-oci-image-jvm-amd64:
    needs: unit-test
    uses: making/oauth2-sso-demo/.github/workflows/build-oci-image-jvm.yaml@main
    with:
      pom_dir: authorization
      image_name: authorization_jvm_amd64
      image_file: authorization_jvm_amd64.yaml
      runs_on: ubuntu-latest
  build-oci-image-jvm-aarch64:
    needs: unit-test
    uses: making/oauth2-sso-demo/.github/workflows/build-oci-image-jvm.yaml@main
    with:
      pom_dir: authorization
      image_name: authorization_jvm_aarch64
      image_file: authorization_jvm_aarch64.yaml
      runs_on: raspberrypi
  push-multi-arch-image-jvm:
    needs:
    - build-oci-image-jvm-amd64
    - build-oci-image-jvm-aarch64
    uses: making/oauth2-sso-demo/.github/workflows/push-multi-arch-image.yaml@main
    with:
      prefix: jvm
      pom_dir: authorization
  save-image-jvm-amd64:
    needs: build-oci-image-jvm-amd64
    uses: making/workflows/.github/workflows/save-images.yaml@main
    with:
      image_name: authorization_jvm_amd64
      image_file: authorization_jvm_amd64.yaml
  save-image-jvm-aarch64:
    needs: build-oci-image-jvm-aarch64
    uses: making/workflows/.github/workflows/save-images.yaml@main
    with:
      image_name: authorization_jvm_aarch64
      image_file: authorization_jvm_aarch64.yaml