<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://d2bsvk2etkq8vr.cloudfront.net/pui-css/pui-components-19.2.4.css">
</head>
<body style="padding: 30px;">
<h1>Welcome, [[${account.fullName}]]!</h1>
<br>
<form class="form" style="width: 800px;" method="post" data-th-action="@{/logout}">
    <fieldset>
        <div>
            <div class="grid">
                <div class="col">
                    <input type="submit" class="pui-btn pui-btn--primary" value="Logout">
                </div>
            </div>
        </div>
    </fieldset>
</form>
<br>
<table class="pui-table pui-table--tr-hover">
    <thead>
    <tr>
        <th scope="col">Family Name</th>
        <th scope="col">Given Name</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>[[${account.familyName}]]</td>
        <td>[[${account.givenName}]]</td>
        <td>[[${account.email}]]</td>
    </tr>
    </tbody>
</table>
<h2>Apps</h2>
<ul>
    <li data-th-each="clientDetail : ${clientDetails}">
        <a data-th-href="${clientDetail.additionalInformation.url}">[[${clientDetail.additionalInformation.name}]]</a>
    </li>
</ul>
</body>
</html>