<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2 SSO Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>

<body>

<div class="uk-grid">
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
        <h1>Demo</h1>
        <a th:href="@{${@environment.getProperty('ui.url', 'http://localhost:8080')}}">Go back to UI</a>
        <form th:action="@{/logout}" method="post">
            <button class="uk-button">Logout</button>
        </form>
    </div>
    <div class="uk-width-1-5"></div>
</div>
</body>
</html>
